<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p v-bind:id="uuid" v-bind:class="name">{{num}}</p>  <!-- 이부분으로 관리함. v-bind: -->
        <p>{{doubleNum}}</p>
        <div v-if="loading">  <!-- false가 되면 사라짐 -->
            Loading...
        </div>
        <div v-else>
            test user has been logged in
        </div>
        <div v-show="loading"> <!-- false가 되면 남아있고, show가 display: none 으로 변경되고 남아있음. -->
            Loading....
        </div>
        <!-- TODO: input 박스를 만들고 입력된 값을 p 태그에 출력해보기 -->
        <input type="text" v-model="message">
        <p>{{message}}</p>
   </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        
        new Vue({
            el: '#app',
            data: {
                num : 10,
                uuid: 'abc1234',
                name: 'text-blue',
                loading: true,
                message: ""
            },
            // 계산되는 속성
            computed:{
                doubleNum : function(){
                    return this.num * 2;
                }
            }

        })
    </script>
</body>
</html>